QTableWidget {
	background-color: (bg_color);
	padding: (padding)px;
	border-radius: (radius)px;
	gridline-color: (grid_line_color);
	color: (color);
}

QTableWidget::item {
	border-color: none;
	padding-left: 5px;
	padding-right: 5px;
	gridline-color: rgb(44, 49, 60);
	/* border-bottom: 1px solid (bottom_line_color); */
}

QTableWidget::item:selected {
	background-color: (selection_color);
}

QTableWidget::horizontalHeader {
	background-color: rgb(33, 37, 43);
}

QTableWidget::verticalHeader {
	background-color: rgb(33, 37, 43);
}

QTableWidget QTableCornerButton::section {
	border: none;
	background-color: (header_horizontal_color);
	/* padding: 30px; */
	border-top-left-radius: (radius)px;
}

QHeaderView::section:horizontal {
	border: none;
	background-color: (header_horizontal_color);
	/* padding: 3px; */
}

QHeaderView::section:vertical {
	border: none;
	background-color: (header_vertical_color);
	padding-left: 10px;
	padding-right: 10px;
	/* border-bottom: 1px solid (bottom_line_color); */
	/* margin-bottom: 1px; */
}

QScrollBar:horizontal {
	border: none;
	background: (scroll_bar_bg_color);
	height: 8px;
	margin: 0px 21px 0 21px;
	border-radius: 0px;
}

QScrollBar::handle:horizontal {
	background: (scrollbar_color);
	min-width: 25px;
	border-radius: 4px
}

QScrollBar::add-line,
QScrollBar::sub-line {
	width: 0px;
	height: 0px;
}

QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
	background: none;
}

QScrollBar:vertical {
	border: none;
	background: (scroll_bar_bg_color);
	width: 8px;
	margin: 21px 0 21px 0;
	border-radius: 0px;
}

QScrollBar::handle:vertical {
	background: (scrollbar_color);
	min-height: 25px;
	border-radius: 4px
}